# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/
.Rproj.user

*.html
*.pdf
ihs_analysis_files/*
xp-ehh_analysis_files/*

